@model IEnumerable<CarRental.BLL.DTO.OrderDTO>

<div class="content ml-0" id="order_area">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CarDTO.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrdSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EndTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrdSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ManagComment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@item.User_Id</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarDTO.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrdSum)
                </td>
                <td>
                    @if (item.Status.ToLower() == "pending")
                    {
                        <span class="bg-info d-block text-center font-weight-bold">@item.Status</span>
                    }
                    else if (item.Status.ToLower() == "completed")
                    {
                        <span class="bg-secondary d-block text-center ">@item.Status</span>
                    }
                    else if (item.Status.ToLower() == "confirmed")
                    {
                        <span class="bg-success d-block text-center font-weight-bold">@item.Status</span>
                    }
                    else if (item.Status.ToLower() == "rejected")
                    {
                        <span class="bg-warning d-block text-center font-weight-bold">@item.Status</span>
                    }
                    else if (item.Status.ToLower() == "fine")
                    {
                        <span class="bg-danger d-block text-center font-weight-bold">@item.Status</span>
                    }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ManagComment)
                </td>
                <td>
                    <a href="@Url.Action("EditStatus", new {  Id = item.OrderId} )" class="btn btn-warning adm_but"><i class="fa fa-edit mr-1 d-inline"></i>Edit</a>
                    <a href="@Url.Action("Details", new { Id = item.OrderId } )" class="btn btn-info adm_but text-dark"><i class="fa fa-info mr-1 d-inline"></i>Detail</a>
                    <a href="@Url.Action("DeleteOrder", new { ordId = item.OrderId } )" class="btn btn-danger adm_but text-dark"><i class="fa fa-trash mr-1 d-inline"></i>Delete</a>
                </td>
            </tr>
        }

    </table>
</div>

<script>
        $(document).on('change', ':input', function () {
            $("#sbm").click();
        });
  
</script>