<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – CarRental</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wraper " id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light  ">

            <a class="navbar-brand" href="@Url.Action("Index","Home")" class="navbar-brand"><img class="img-fluid" src="~/Content/img/logo.gif" alt="Logo" /></a>



            <button class="navbar-toggler float-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-5 mb-4" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">PersonalCab <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="mt-2">
                                <span ml-1>@Html.ActionLink("Hello " + User.Identity.Name.ToString(), "Index", "PersCab")</span>
                                <span class="ml-1">@Html.ActionLink("Log out", "Logout", "Account")</span>
                            </div>
                        }
                        else
                        {
                            <span> @Html.ActionLink("Log in", "Login", "Account", new { })</span>
                            <span>@Html.ActionLink("Register", "Register", "Account")</span>
                        }
                    </li>

                </ul>

            </div>
        </nav>
        <div class=" body-content " id="main">
            <div class="row ">
                <div class="col-2 navbar-toggler" id="sidebar-wrapper">

                    @RenderSection("SideSearch", false)

                </div>
                <div class="col-10 container-fluid">@RenderBody()</div>
            </div>

        </div>
    </div>
    <footer id="footer" class="bg-dark container-fluid ">
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  
</body>
</html>
