<div>
    <h3>Dashboard</h3>
    <div class="card mt-2">
        <div class="card-header">
            Orders
        </div>
        <div class="card-body">
            <h5 class="card-title">Order management (Manager)</h5>
            <p class="card-text">Total orders - @ViewBag.Orders</p>
            @Html.ActionLink("Open","GetOrders","Manager", new { area = "Admin" },new {@class="btn btn-info" })
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Exeptions
        </div>
        <div class="card-body">
            <h5 class="card-title">Exeption management (Admin)</h5>
            <p class="card-text">Exeption occured - @ViewBag.Exceptions</p>
            @Html.ActionLink("Open", "GetExceptions", "Main", new { area = "Admin" }, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <h5 class="card-title">User management(Admin)</h5>
            <p class="card-text">User list - @ViewBag.Users</p>
            @Html.ActionLink("Open", "GetUsers", "UserManag", new { area = "Admin" }, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Cars
        </div>
        <div class="card-body">
            <h5 class="card-title">Car park management(Admin)</h5>
            <p class="card-text">User list - @ViewBag.Cars</p>
            @Html.ActionLink("Open", "GetCars", "Main", new { area = "Admin" }, new {@class="btn btn-info" })
        </div>
    </div>
</div>
