@model IEnumerable<CarRental.BLL.DTO.OrderDTO>


@{
    ViewBag.Title = "GetOrders";
}



<div class="content " id="order_area">
    <div class="bg-dark text-white p-1 border rounded text-capitalize border border-primary"><h4 class="text-center">Manager Dashboard</h4></div>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th class="align-middle  text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().User_Id)
            </th>
            <th class="align-middle  text-center" >
                @Html.DisplayNameFor(model => model.FirstOrDefault().Car.Name)
            </th>
            
            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().StartTime)
            </th>
            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().EndTime)
            </th>

            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrdSum)
            </th>
            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>

            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().ManagComment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td class="align-middle text-center">
                <p>@item.User_Id</p>
            </td>
            <td class="align-middle text-center">
                @Html.DisplayFor(modelItem => item.Car.Name)
            </td>

            <td class="align-middle text-center">
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td class="align-middle text-center">
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td class="align-middle text-center">
                @Html.DisplayFor(modelItem => item.OrdSum)
            </td>

            @if (item.Status.ToLower() == "pending")
            {
                <td class="  text-center align-middle ">@item.Status</td>
            }
            else if (item.Status.ToLower() == "completed")
            {
                <td class="bg-secondary  text-center align-middle ">@item.Status</td>
            }
            else if (item.Status.ToLower() == "confirmed")
            {
                <td class="bg-success  text-center align-middle ">@item.Status</td> }
            else if (item.Status.ToLower() == "rejected")
            {
                <td class="bg-warning  text-center align-middle ">@item.Status</td> }
            else if (item.Status.ToLower() == "fine")
            {
                <td class="bg-danger  text-center align-middle ">@item.Status</td>}


            <td class="align-middle text-center">
                @Html.DisplayFor(modelItem => item.ManagComment)
            </td>
            <td>
                <a href="@Url.Action("EditStatus", new {  Id = item.Id} )" class="btn btn-warning adm_but"><i class="fa fa-edit mr-1 d-inline"></i>Edit</a>
                <a href="@Url.Action("Details", new { Id = item.Id } )" class="btn btn-info adm_but text-dark"><i class="fa fa-info mr-1 d-inline"></i>Detail</a>
                <a href="@Url.Action("DeleteOrder", new { ordId = item.Id } )" class="btn btn-danger adm_but text-dark"><i class="fa fa-trash mr-1 d-inline"></i>Delete</a>

            </td>
        </tr>
        }

    </table>
</div>
@section SideSearch{
    @Html.Action("OrderSearch", "SideSearch", new { area = "" })
}
<script>
    $(document).on('change', ':input', function () {
        $("#sbm").click();
    });

</script>