@model CarRental.BLL.DTO.CarDTO
<div class="m-5 bg-light border">
    <div class="p-5">
        <h4 class="font-weight-bold text-center">Car Details</h4>
        <dl class="dl-horizontal">
           
            <dd>
                @Html.DisplayFor(model => model.CarId)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Capacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DriveUnit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DriveUnit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AutomaticTransm)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AutomaticTransm)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirConditon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirConditon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Door)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Door)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelConsump)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelConsump)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CarType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EngSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EngSize)
            </dd>

        </dl>
    </div>
   
</div>