@model IEnumerable<CarRental.BLL.DTO.CarDTO>

@{
    ViewBag.Title = "Index";
}

<h4 class="container-fluid text-center font-weight-bolder">Car Managment</h4>

<p class="ml-3 mb-0">
    <a href="@Url.Action("CreateCar" )" class="btn btn-info ml-1"><i class="fa fa-plus mr-1"></i>Add Car</a>
</p>

<br />
<div class="ml-3 pl-0 container-fluid">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveUnit)
            </th>
            <th>
                <p>Auto Tran</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirConditon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutomaticTransm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirConditon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                   
                    <a href="@Url.Action("EditCar", new { id = item.CarId } )" class="btn btn-warning adm_but"><i class="fa fa-edit mr-1 d-inline"></i>Edit</a>
                    <a href="@Url.Action("CarDetail", new { id = item.CarId } )" class="btn btn-info adm_but text-dark"><i class="fa fa-info mr-1 d-inline"></i>Detail</a>
                    <a href="@Url.Action("Delete", new { id = item.CarId } )" class="btn btn-danger adm_but text-dark"><i class="fa fa-trash mr-1 d-inline"></i>Delete</a>
                </td>
            </tr>
        }

    </table>
</div>