@model IEnumerable<CarRental.BLL.DTO.ExceptionDetailDTO>

<div class="m-2">
    <p>
        @Html.ActionLink("ClearList", "DeleteExceptions", null, new { @class = "btn btn-danger" })
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControllerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>

                    @Html.ActionLink("Details", "ExceptionDetails", new { id = item.Id }, new { @class = "btn btn-info m-1" })
                    @Html.ActionLink("Delete", "DeleteException", new { id = item.Id }, new { @class = "btn btn-warning m-1" })
                </td>
            </tr>
        }

    </table>
</div>