<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – CarRental</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="wraper " id="wrapper">
        <nav class="navbar  navbar-light  ">

          
            <img class="img-fluid" src="~/Content/img/logo.gif" alt="Logo" />
            <div class="auth">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mt-2">
                        <div>
                            <img alt="Us. Area" src="~/Content/img/ico/user-male-circle.png" style="height:20px;" />

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>


                            <span ml-1>@Html.ActionLink("User Area", "Index", "PersCab")</span>
                        </div>
                        <span>
                            <img alt="Us. Area" src="~/Content/img/ico/logout-rounded-left.png" style="height:20px;" />
                            <span class="ml-1">@Html.ActionLink("Log out", "Logout", "Account")</span>
                        </span>
                    </div>
                }
                else
                {
                    <span>
                        <img alt="Us. Area" src="~/Content/img/ico/login-rounded-right.png" style="height:20px;" />
                        <span> @Html.ActionLink("Log in", "Login", "Account")</span>
                    </span>
                    <span>
                        <img alt="Us. Area" src="~/Content/img/ico/user-male-circle.png" style="height:20px;" />
                        <span>@Html.ActionLink("Register", "Register", "Account")</span>
                    </span>

                }
            </div>

        </nav>
        <div class=" body-content " id="main">
            <div class="clearfix" >
                <div class="side_sect " >

                    @RenderSection("SideSearch", false)

                </div>
                <div class=" content">@RenderBody()</div>
            </div>

        </div>
    </div>
    <footer id="footer" class=" container-fluid  ">
        <div class="float-left">&copy; @DateTime.Now.Year – Car Rental</div>
        <div class="float-right d-flex flex-row"><img alt="Our Phone:" src="~/Content/img/ico/phone.png" style="width:20px;height:20px;" /><p>+380998857510</p> </div> 
    </footer>
   
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/themes/base/base.css")
    @Styles.Render("~/Content/themes/base/datepicker.css")


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function ($) {
            $('.icon-menu').click(function (event) {
                $('.sidebar').toggleClass('active');
            });
        });
    </script>
  
</body>
</html>
