<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – CarRental</title>
    <link href="~/Content/Fonts/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet" />
    <link href="~/Content/Fonts/fontawesome-free-5.12.1-web/css/fontawesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="wraper " id="wrapper">
        <nav class="navbar  navbar-light  " id="navbr">
            <a href="@Url.Action("Index", "Home", new { area = "" })">
                <img class="" src="~/Content/img/logo.png" alt="Logo" style="height:40px;" />
            </a>
            <div class="auth mt-3">
              
                @{ 
                    Html.RenderAction("RendMenu", "Home",new {Area="" });
                }
            </div>

        </nav>
        <div class=" body-content " id="main">
            <div class="clearfix" >
                <div class="side_sect " >

                    @RenderSection("SideSearch", false)

                </div>
                <div class="">@RenderBody()</div>
            </div>

        </div>
    </div>
    <footer id="footer" class=" container-fluid  text-center">
        <div class="text-muted">&copy; @DateTime.Now.Year – Car Rental,All Rights Reserved</div>
    </footer>
   
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/themes/base/base.css")
    @Styles.Render("~/Content/themes/base/datepicker.css")


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function ($) {
            $('.icon-menu').click(function (event) {
                $('.sidebar').toggleClass('active');
                $('.content').toggleClass('ml-0');
            });
            if ($(window).width() > 991) {
                $("#close-sec").hide();
            };
            $(".paginat").find("a").click(function (e) {
                e.preventDefault();
                var a = $(this).attr("href").replace(/[^\d.]/g, '');
                var p = $("#Page").val(a);
                $("#Page").replaceWith(p);
                var a = parseInt(a);

                $("#sbm").click();

            });
        });
        $(window).resize(function () {
                     
            if ($(window).width() > 991) {
                $("#close-sec").hide();
            }; 
            if ($(window).width() < 991) {
                $("#close-sec").show();
            }; 
        });
       
    </script>
  
</body>
</html>
