<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – CarRental</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="wraper " id="wrapper">
        <nav class="navbar  navbar-light  " id="navbr">
            <a href="@Url.Action("Index","Home",new {area="" })">
                <img class="" src="~/Content/img/logo.png" alt="Logo" style="height:40px;" />
            </a>
            @*<div class="float-right d-flex flex-row sticky-top"><p>Contacts:</p> <img alt="Our Phone:" src="~/Content/img/ico/phone.png" style="width:20px;height:20px;" /><p>+380998857510</p> </div>*@
            <div class="auth">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mt-2">
                        <div>
                            <div class="dropdown mr-3">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>@User.Identity.Name</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <label class="dropdown-item m-0 " for="us_ar">
                                        @*<img alt="Us. Area" src="~/Content/img/ico/user-male-circle.png" style="height:20px;" class="ml-0" />*@
                                        @Html.ActionLink(User.Identity.Name, "Profile", "PersCab", null, new { @class = "btn btn-secondary w-100" })
                                    </label>
                                    <label class="dropdown-item">
                                        @*<img alt="Orders" src="~/Content/img/ico/cart.png" style="height:20px;" />*@
                                        <span class="">@Html.ActionLink("My orders", "Index", "PersCab", null, new { @class = "btn  btn-secondary w-100 pr-3" })</span>
                                    </label>

                                    <label class="dropdown-item">
                                        @*<img alt="Orders" src="~/Content/img/ico/fines.png" style="height:20px;" />*@
                                        <span class="">@Html.ActionLink("Fines", "Fines", "PersCab", null, new { @class = "btn btn-secondary w-100 pr-5" })</span>
                                    </label>
                                    <label class="dropdown-item">
                                        @*<img alt="Us. Area" src="~/Content/img/ico/logout-rounded-left.png" style="height:20px;" />*@
                                        <span class="d-block">@Html.ActionLink("Exit", "Logout", "Account", null, new { @class = "btn btn-secondary w-100 pr-5" })</span>
                                    </label>
                                </div>
                            </div>

                            <div class="btn-"></div>
                            <span ml-1></span>
                        </div>

                    </div>
                }
                else
                {
                    <span>
                        <img alt="Us. Area" src="~/Content/img/ico/login-rounded-right.png" style="height:20px;" />
                        <span> @Html.ActionLink("Log in", "Login", "Account")</span>
                    </span>
                    <span>
                        <img alt="Us. Area" src="~/Content/img/ico/user-male-circle.png" style="height:20px;" />
                        <span>@Html.ActionLink("Register", "Register", "Account")</span>
                    </span>

                }
            </div>

        </nav>
        <div class=" body-content " id="main">
            <div class="clearfix" >
                <div class="side_sect " >

                    @RenderSection("SideSearch", false)

                </div>
                <div class="">@RenderBody()</div>
            </div>

        </div>
    </div>
    <footer id="footer" class=" container-fluid  text-center">
        <div>&copy; @DateTime.Now.Year – Car Rental,All Rights Reserved</div>
    </footer>
   
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/themes/base/base.css")
    @Styles.Render("~/Content/themes/base/datepicker.css")


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function ($) {
            $('.icon-menu').click(function (event) {
                $('.sidebar').toggleClass('active');
            });
            if ($(window).width() > 991) {
                $("#close-sec").hide();
            };
        });
        $(window).resize(function () {
                     
            if ($(window).width() > 991) {
                $("#close-sec").hide();
            }; 
            if ($(window).width() < 991) {
                $("#close-sec").show();
            }; 
        });

    </script>
  
</body>
</html>
