@model CarRental.BLL.DTO.OrderDTO
@using CarRental.BLL
@{
    ViewBag.Title = "Checkout";
}
<script src="~/Scripts/umd/popper.js"></script>
<div>
    <div class="row mt-2 checkout pt-1 mt-3">
        <div class="col-6 offset-3" style="border-top: 5px solid red;">
            <div class=" position-relative text-center text-capitalize red_border_with_caption ">
                <h4>Rent</h4>
            </div>
        </div>
     </div>

        <div class="row checkout pt-1  border rounded-lg shadow m-1 mb-3">
            <div class="col-12 col-sm-12 col-md-3  offset-md-3 col-lg-2 offset-lg-4 d-flex justify-content-center mb-2">
                <div class="card mr-3 mt-3 rounded-lg" style="width: 18rem; max-width:250px;">
                    <h4 class="text-center mb-0 mt-1">@Model.Car.Name</h4>
                    <div class="text-center ">
                        <span class="mr-1">@Model.Car.FuelConsump L</span>|
                        <span class="mr-1">

                            @if (Model.Car.FuelType.ToLower() == "petrol")
                            {
                                @CarRental.BLL.Resource.Petrol
                            }
                            else if (Model.Car.FuelType.ToLower() == "dysel")
                            {
                                @CarRental.BLL.Resource.Dysel
                            }
                            else
                            {
                                @Model.Car.FuelType
                            }
                        </span>|
                        <span class="mr-1">

                            @if (Model.Car.CarType.ToLower() == "econom")
                            {
                                @CarRental.BLL.Resource.Econom
                            }
                            else if (Model.Car.CarType.ToLower() == "business")
                            {
                                @CarRental.BLL.Resource.Business
                            }
                            else if (Model.Car.CarType.ToLower() == "premium")
                            {
                                @CarRental.BLL.Resource.Premium
                            }
                            else
                            {
                                @Model.Car.CarType
                            }
                        </span>
                    </div>

                    @if (Model.Car.Image == null)
                    {
                        Model.Car.Image = "/Content/img/vehicle1.jpg";
                    }

                    <img src="@Model.Car.Image" class=" img-fluid ml-2 mr-2 rounded" alt="carDescription">

                    <div class="card-body pt-1 p-2">

                        <div class="flex-row d-flex justify-content-center mt-0">
                            <div class="ml-2 mr-2 mb-0">
                                <div class="text-center">

                                    @if (Model.Car.AutomaticTransm == false)
                                    {
                                        <img src="~/Content/img/ico/m.png" alt="Transm" class="sign" />
                                        <p class="sign_cap  mb-0">
                                            @CarRental.BLL.Resource.TransManual
                                        </p>
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/ico/a.png" alt="Transm" class="sign " />
                                        <p class="sign_cap  mb-0">
                                            @CarRental.BLL.Resource.TransAuto
                                        </p>
                                    }


                                </div>
                            </div>
                            <div class="ml-2 mr-2  mb-0">
                                <div class="text-center">
                                    <img alt="Capac" src="~/Content/img/ico/human.png" class="sign" />
                                    <p class="sign_cap  mb-0">@Model.Car.Capacity</p>
                                </div>

                            </div>
                            <div class="ml-2 mr-2  mb-0">
                                <div class="text-center">
                                    <img alt="Drive" src="~/Content/img/ico/wheel.png" class="sign" />
                                    @if (Model.Car.DriveUnit.ToLower() == "front")
                                    {
                                        <p class="sign_cap  mb-0">
                                            @CarRental.BLL.Resource.FrontWheel
                                        </p>
                                    }
                                    else if (Model.Car.DriveUnit.ToLower() == "rear")
                                    {
                                        <p class="sign_cap  mb-0">
                                            @CarRental.BLL.Resource.RearWheel
                                        </p>
                                    }
                                    else if (Model.Car.DriveUnit.ToLower() == "four")
                                    {
                                        <p class="sign_cap  mb-0">
                                            @CarRental.BLL.Resource.FourWheelDrive
                                        </p>
                                    }
                                </div>

                            </div>
                            <div class="ml-2 mr-2  mb-0">
                                <div class="text-center">
                                    <img alt="Consump" src="~/Content/img/ico/petrol.png" class="sign" />
                                    <p class="sign_cap  mb-0">@Model.Car.FuelConsump/100km</p>
                                </div>

                            </div>
                        </div>

                        <p class="text-center mb-1 font-weight-bold">@CarRental.BLL.Resource.PricePerDay</p>
                        <table class="table table-striped pr_table mt-0">
                            <thead class="">
                                <tr>
                                    <th scope="col">@CarRental.BLL.Resource.WithoutPleage</th>
                                    <th scope="col"></th>
                                    <th scope="col">@CarRental.BLL.Resource.Pleage</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@Model.Car.Price $</th>
                                    <td>1-3 @CarRental.BLL.Resource.Days</td>
                                    <td>@Convert.ToInt32(Math.Round((double)@Model.Car.Price - 2)) $</td>

                                </tr>
                                <tr>
                                    <th scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.9)) $</th>
                                    <td>4-9 @CarRental.BLL.Resource.Days</td>
                                    <td scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.9 - 2)) $</td>

                                </tr>
                                <tr>
                                    <th scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.7)) $</th>
                                    <td>10-25 @CarRental.BLL.Resource.Days</td>
                                    <td scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.7 - 2)) $</td>

                                </tr>
                                <tr>
                                    <th scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.6)) $</th>
                                    <td>25+ @CarRental.BLL.Resource.Days</td>
                                    <td scope="row">@Convert.ToInt32(Math.Round((double)@Model.Car.Price * 0.6 - 2)) $</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-2  ml-sm-1 mb-5 mb-md-4 ml-md-3 d-flex justify-content-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group m-0">

                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.User_Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.CarId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CarId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div><h5 class="ml-2 text-center">@Resource.RentTime</h5></div>

                    <div class="form-group ml-2 " id="datepicker">
                        <p id="datepickerError"></p>
                        <input name="daterange" class="form-control" />
                    </div>

                    <div><h5 class="ml-2 text-center">@Resource.CarIssuance</h5></div>

                    <div class="form-group ml-2  ">
                        <select id="start_p" class="form-control ">
                            <option value="Kharkiv Gagarina 23">Kharkiv Gagarina 23</option>
                            <option value="Kharkiv South Railvay">Kharkiv South Railvay</option>
                            <option value="Kharkiv Central Airport">Kharkiv Central Airport</option>
                        </select>
                    </div>

                    <div class="mt-1"><h5 class="ml-2 text-center">@Resource.CarReturn</h5></div>
                    <div class="form-group ml-2 ">
                        <select id="end_p" class="form-control ">
                            <option value="Kharkiv Gagarina 23">Kharkiv Gagarina 23</option>
                            <option value="Kharkiv South Railvay">Kharkiv South Railvay</option>
                            <option value="Kharkiv Central Airport">"Kharkiv Central Airport</option>
                        </select>
                    </div>

                    

                    <div class="d-block d-flex justify-content-start" >
                        <div class=" ml-3 mb-3">@Resource.DriverNecessity -</div>
                        @Html.EditorFor(model => model.Driver, new { htmlAttributes = new { @class = "big_check ml-3" } })
                    </div>

                    <div class="form-group">
                        <p class="control-label ml-3"> @Resource.PassportNumb</p>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.PassportNumb, new { htmlAttributes = new { @class = "control-label d-inp rounded" } })

                                @Html.ValidationMessageFor(model => model.PassportNumb, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.HiddenFor(model => model.IsDeleted)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.StartTime)

                    @Html.HiddenFor(model => model.EndTime)
                    @Html.Hidden("start_place", null, new { AllowHtmlAttributes = new { @id = "start_place" } })
                    @Html.Hidden("end_place", new { AllowHtmlAttributes = new { @id = "end_place" } })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="sb_but" class="btn btn-success"><span class="fa fa-cart-plus mr-1"></span>@Resource.Order</button>
                        </div>
                    </div>
                </div>
                }
            </div>
            @foreach (var item in ViewBag.FullOrdered)
            {
                <input type="hidden" class="FullOrdered highlighted-cal-dates" value=@item />
            }

        </div>
    </div>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section Scripts {
        <script src="~/Content/js/checkout.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    }
