@model IEnumerable<CarRental.BLL.DTO.OrderDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarDTO.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarDTO.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver)
        </td>
        <td>
            @if (item.Status == "confirmed")
            {
                <div class="alert alert-success "> @Html.DisplayFor(modelItem => item.Status)</div>

            }
            else
            {
                <div class="alert alert-info ">@Html.DisplayFor(modelItem => item.Status)</div>
            }
        </td>
        <td>
           
          @Html.ActionLink("Cancel","DeleteOrder","PersCab", new {Id=item.OrderId },new { @class="btn btn-danger"})
        </td>
    </tr>
}

</table>
