@model CarRental.WEB.Models.PersonalCabViewModel

@if (ViewBag.Res == "added")
{
    <div class="alert alert-primary" role="alert" id="alert">
        You have added new reservation!
    </div>
}
else if (ViewBag.Res == "deleted")
{
    <div class="alert alert-danger" role="alert" id="alert">
        You have canceled  reservation!
    </div>
}

<div class="d-flex flex-row flex-wrap">
    
        <div class=" text-center ">
            <div class="col-12 col-md-6 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="text-center">
                        <img class="card-img-top img-fluid " src="~/Content/img/ico/circled-user.png" alt="Card image cap" style="height:150px; width:150px">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model.User.UserName</h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>@Model.User.Email</td>

                                </tr>
                                <tr>
                                    <th scope="row">Phone </th>
                                    <td>@Model.User.PhoneNumber</td>

                                </tr>
                                <tr>
                                    <th scope="row">Passport</th>
                                    <td>@Model.User.PassportNumb</td>

                                </tr>
                            </tbody>
                        </table>
                        @Html.ActionLink("Edit Profile", "EditProf", "PersCab", new { usId = Model.User.Id }, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
        </div>
 


        <div class=" ">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().CarDTO.Name)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Driver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Status)
                    </th>
                    <th>
                        Manager comment
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarDTO.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver)
                        </td>
                        <td>
                            @if (item.Status == "confirmed")
                            {
                                <div class="alert alert-success ">@item.Status</div>

                            }
                            else
                            {
                                <div class="alert alert-info ">@item.Status</div>
                            }
                        </td>
                        <td>
                            @item.ManagComment
                        </td>
                        <td>

                            @Html.ActionLink("Cancel", "DeleteOrder", "PersCab", new { Id = item.OrderId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
</div>
<script>
    $(document).ready(function () {


        window.setTimeout(function () {
            $("#alert").alert('close');
        }, 2000);

    });
</script>