@model CarRental.WEB.Models.PersonalCabViewModel

@if (ViewBag.Res == "added")
{
    <div class="alert alert-primary" role="alert" id="alert">
        You have added new reservation!
    </div>
}
else if (ViewBag.Res == "deleted")
{
    <div class="alert alert-danger" role="alert" id="alert">
        You have canceled  reservation!
    </div>
}

<div class="d-flex flex-row flex-wrap">   
 
        <div class=" ">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().CarDTO.Name)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Driver)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Status)
                    </th>
                    <th>
                        Manager comment
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarDTO.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Driver)
                        </td>
                        <td>
                            @if (item.Status.ToLower() == "approved")
                            {
                                <div class="alert alert-success ">@item.Status</div>

                            }
                            else if (item.Status.ToLower() == "rejected")
                            {
                                <div class="alert alert-danger ">@item.Status</div>
                            }
                            else
                            {
                                <div class="alert alert-info ">@item.Status</div>
                            }
                        </td>
                        <td>
                            @item.ManagComment
                        </td>
                        <td>

                            @Html.ActionLink("Cancel", "DeleteOrder", "PersCab", new { Id = item.OrderId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
</div>
<script>
    $(document).ready(function () {


        window.setTimeout(function () {
            $("#alert").alert('close');
        }, 2000);

    });
</script>