@model CarRental.WEB.Models.PersonalCabViewModel
@using CarRental.BLL
@if (ViewBag.Res == "added")
{
    <div class="alert alert-primary" role="alert" id="alert">
        @Resource.AddedReservation
    </div>
}
else if (ViewBag.Res == "deleted")
{
    <div class="alert alert-danger" role="alert" id="alert">
        @Resource.CanseledReservation
    </div>
}

<div>
    <div class="row mt-2 checkout pt-1 mt-3">
        <div class="col-6 offset-3" style="border-top: 5px solid red;">
            <div class=" position-relative text-center text-capitalize red_border_with_caption ">
                <h4>@Resource.YourOrders</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 offset-0 offset-md-3 col-md-6">
            @foreach (var o in Model.Orders)
            {
                <div class=" mt-2 ml-1 border p-3 rounded shadow">
                    <div class=" mt-1 row border-bottom ">
                        <div class="col-3">
                            <h4 class="mr-2"> @o.Car.Name</h4>
                        </div>

                        <div class="col-8  col-md-5 offset-md-3 ">
                            <div class="d-flex justify-content-center ml-2">
                                <div class="mr-2">
                                    <span class="p-2  text-center align-middle pr-0">@Resource.Status:</span>
                                    @if (o.Status.ToLower() == "pending")
                                    {
                                        <span class=" p-2 badge badge-pill badge-info text-center align-middle ">@Resource.Pending</span>
                                    }
                                    else if (o.Status.ToLower() == "completed")
                                    {
                                        <span class="p-2 badge badge-pill badge-secondary text-center align-middle ">@Resource.Completed</span>
                                    }
                                    else if (o.Status.ToLower() == "confirmed")
                                    {
                                        <span class="p-2 badge badge-pill badge-success  text-center align-middle ">@Resource.Confirmed</span>
                                    }
                                    else if (o.Status.ToLower() == "rejected")
                                    {
                                        <span class="p-2 badge badge-pill badge-warning  text-center align-middle ">@Resource.Rejected</span>
                                    }
                                    else if (o.Status.ToLower() == "fine")
                                    {
                                        <span class="p-2 badge badge-pill badge-danger text-center align-middle ">@Resource.Fine</span>
                                    }
                                    else if (o.Status.ToLower() == "payed")
                                    {
                                        <span class="p-2 badge badge-pill badge-primary text-center align-middle ">@Resource.Payed</span>
                                    }
                                </div>
                                @if (o.Status.ToLower() == "confirmed")
                                {
                                    <a href="@Url.Action( "PayTheBill",  new {orderId = o.Id })" , class="btn btn-primary  text-white mb-2 pay-btt"><i class="fa fa-money-check-alt mr-2 d-inline mr-2">  @Resource.Pay</i></a>
                                }
                                else if (o.Status.ToLower() == "fine")
                                {
                                    <a href="@Url.Action( "PayTheFine",  new {Id = o.Id })" , class="btn btn-danger  text-white mb-2 mr-1 pay-btt" ml-1><i class="fa fa-money-check-alt mr-1 d-inline">  @Resource.Pay</i></a>

                                }
                                @if (o.Status.ToLower() != "payed")
                                {
                                    <a id="sb-btt" href="@Url.Action( "DeleteOrder",  new {Id = o.Id })" , class="btn btn-danger  text-dark mb-2 ml-1 remove-btt "><i class="fa fa-trash mr-1 d-inline"></i></a>

                                }
                            </div>

                        </div>
                    </div>
                    <div class=" row d-flex align-content-center">
                        @{
                            var dataTarget = "carouselExampleIndicators" + o.Car.Id.ToString();
                        }
                        <div class="col-12 col-sm-5 col-md-4">
                            <div id="@dataTarget" class="carousel slide mr-1 " data-ride="carousel">

                                <div class="carousel-inner">
                                    <div>
                                        @if (o.Car.Image != null)
                                        {
                                            <div class="carousel-item active car-image ">
                                                <img src="@o.Car.Image" class=" img-fluid ml-2 mr-2 rounded responsive" alt="carDescription">
                                            </div>
                                        }
                                        @if (o.Car.Image2 != null)
                                        {
                                            <div class="carousel-item active">
                                                <img src="@o.Car.Image2" class=" img-fluid ml-2 mr-2 rounded responsive" alt="carDescription">
                                            </div>
                                        }
                                        @if (o.Car.Image3 != null)
                                        {
                                            <div class="carousel-item active">
                                                <img src="@o.Car.Image3" class=" img-fluid ml-2 mr-2 rounded responsive" alt="carDescription">
                                            </div>
                                        }
                                    </div>

                                </div>
                                <a class="carousel-control-prev" href="#@dataTarget" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#@dataTarget" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>

                        <div class="mr-1 ml-1 col-12 col-md-4 ">
                            <h5 class="card-title">@Resource.Manufacturer: @o.Car.Manufacturer</h5>
                            <p class="font-weight-bold">@Resource.CarIssuance</p>
                            <span>@o.StartTime.ToString().Split(' ')[0] - @o.StartPlace</span>
                            <p class="mt-3 font-weight-bold">@Resource.CarReturn</p>

                            <span>@o.EndTime.ToString().Split(' ')[0] - @o.EndPlace</span>

                            <p class="mt-3 font-weight-bold border-top border-dark"><span>@Resource.Price:</span> @o.OrdSum</p>
                        </div>

                        <div class="mr-1 ml-1 col-12 col-md-3 ">
                            @if (o.ManagComment != null)
                            {           
                                 <p class="font-weight-bold">@Resource.ManagerComment</p>
                                 <p>@o.ManagComment</p>
                            }
                        </div>
      

                    </div>
                </div>
            }

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {


        window.setTimeout(function () {
            $("#alert").alert('close');
        }, 2000);

    });
</script>