@model CarRental.BLL.DTO.UserDTO
<div class="row ">
    <div class="col-4 offset-4 bg-light border mt-3 p-0 border border-primary rounded">
        <div class="bg-dark text-white p-1"><h4 class="text-center ">Profile details</h4></div>
        <dl class="dl-horizontal p-2">
         
          <dt class="text-primary">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            
            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.Banned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Banned)
            </dd>

            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.PassportNumb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassportNumb)
            </dd>

        </dl>
       
    </div>
</div>